*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    color: #fefefe;
    font-size: 10vw;
    font-family: "Roboto Slab";
    font-weight: 400;
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 200px;

}